<div  class="col-sm-12 col-md-12">

        <div class="page-header" align="center">
            <h2>DashBoard</h2>
        </div>


    <div  class="col-sm-6 col-md-6" scroll ng-show="resultshow">
        <a href="#/corpusChange" ><div id="container1" style="height: 300px; width: 500px"></div></a>
        <!--<a href="#/NPALoans" ><div id="container3" style="height: 300px; width: 500px"></div></a> -->
        <a href="#/RatioofIGAtoConsumption" > <div id="container5" style="height: 300px; width: 500px"></div></a>
        <a href="#/LoansforIncomeGenerationPurpose"><div id="container7" style="height: 300px; width: 500px"></div></a>
        <a href="#/LoanAmountPercentageIGA"><div id="container9" style="height: 300px; width: 500px"></div></a>
    </div>
    <div  class="col-sm-6 col-md-6" scroll ng-show="resultshow">

        <a href="#/changeInGrading" ><div id="container2" style="height: 300px; width: 500px"></div></a>
        <a href="#/ActivityBasedLendingAmount"><div id="container4" style="height: 300px; width: 500px"></div></a>
        <a href="#/UnutilizedCCL"><div id="container6" style="height: 300px; width: 500px"></div></a>
        <a href="#/LoanAmountIGA"><div id="container8" style="height: 300px; width: 500px"></div></a>
        <a href="#/shgEligibleForVlr"><div id="container10" style="..."></div> </a>
        <a href="#/EligibleShgForVLRByBankWise"><div id="container11" style="..."></div></a>
    </div>
</div>